{% for semestre in semestres %}
    <div class="card mb-2 sh-19 sh-md-8">
        <div class="card-body pt-0 pb-0 h-100">
            <div class="row g-0 h-100 align-content-center">
                <div class="col-12 col-md-4 d-flex flex-column justify-content-center mb-1 mb-md-0">
                    <div class="text-muted text-small d-md-none">Nom du semestre</div>
                    <a href="#" class="text-truncate">{{ semestre.display }}</a>
                </div>
                <div class="col-6 col-md-2 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                    <div class="text-muted text-small d-md-none">Category</div>
                    <div class="text-alternate">XXX</div>
                </div>
                <div class="col-6 col-md-2 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                    <div class="text-muted text-small d-md-none">Price</div>
                    <div class="text-alternate">
                                 XXX
                    </div>
                </div>

                <div class="col-6 col-md-4 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                    <div class="text-muted text-small d-md-none">Actions</div>
                    <div class="text-alternate">
                        <button class="btn btn-sm btn-outline-warning">Modifier</button>
                        <button class="btn btn-sm btn-outline-success">Dupliquer</button>
                        <button class="btn btn-sm btn-outline-delete">Supprimer</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% for ue in semestre.ues %}
        <div class="card mb-2 sh-19 sh-md-8">
            <div class="card-body pt-0 pb-0 h-100">
                <div class="row g-0 h-100 align-content-center">
                    <div class="col-1">&nbsp;</div>
                    <div class="col-12 col-md-3 d-flex flex-column justify-content-center mb-1 mb-md-0">
                        <div class="text-muted text-small d-md-none">Nom du semestre</div>
                        <a href="#" class="text-truncate">{{ ue.display }}</a>
                    </div>
                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                        <div class="text-muted text-small d-md-none">Category</div>
                        <div class="text-alternate">XXX</div>
                    </div>
                    <div class="col-6 col-md-2 d-flex flex-column justify-content-center align-items-md-end mb-1 mb-md-0">
                        <div class="text-muted text-small d-md-none">Price</div>
                        <div class="text-alternate">
                            XXX
                        </div>
                    </div>

                    <div class="col-6 col-md-4 d-flex flex-column justify-content-center align-items-md-end mb-1
                    mb-md-0">
                        <div class="text-muted text-small d-md-none">Actions</div>
                        <div class="text-alternate">
                            <button class="btn btn-sm btn-outline-warning">Modifier</button>
                            <button class="btn btn-sm btn-outline-success">Dupliquer</button>
                            <button class="btn btn-sm btn-outline-danger">Supprimer</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    {% endfor %}
{% endfor %}
