{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_campagne_collecte_liste'),
                storageKey: 'campagne_collecte_liste',
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body" {{ stimulus_target('crud', 'liste') }}>
        </div>
    </div>
{% endblock %}

{% set header_title %}
    Gestion des campagnes de collecte
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter une campagne de collecte',
                modalUrl: path('app_campagne_collecte_new') }) }}
            data-action="click->modal#openModal"
            class="btn border border-emerald-300 bg-emerald-50 text-emerald-700 hover:bg-emerald-100 hover:text-emerald-800"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter une campagne de collecte"
    >
        <twig:UX:Icon name="icon:add" class="h-4 w-4"/>
        <span> Ajouter une campagne de collecte</span>
    </button>
{% endblock %}
