<h2>Semestres & Parcours</h2>
<div {{ stimulus_controller('formation--step4', {
    url: path('structure_semestre_detail_formation_tronc_commun', {formation: formation.id})
}) }}

>
<div {{ stimulus_target('formation--step4', 'detail') }}></div>
</div>
