<h2>Présentation de la mention spécialité</h2>
<div {{ stimulus_controller('formation--step2', {
    url: path('app_formation_save', {formation:formation.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form(form) }}
</div>
