<h2>Semestres & Parcours</h2>
<div {{ stimulus_controller('formation--step4', {
    url: path('app_formation_save', {formation:formation.id}),
}) }}
        data-action="base:refreshListe@window->formation--step4#refreshListe"
>
    {{ include('structure/_semestres.html.twig', {semestres:formation.semestres}) }}
</div>
