{# deprecated #}
<div class="col">
    <section class="scroll-section" id="identite_formation">
        <h3 class="small-title">Gestion SES </h3>
        <div class="card mb-5">
            <div class="card-body">
                <a href="{{ path('app_codification_index', {formation: formation.id}) }}">Gérer la codification</a>
            </div>
        </div>
    </section>
</div>
