<div class="row my-5">
    <h3 class="small-title">
        Versions de cette formation
    </h3>
    {% if formation.formationVersionings|length > 0 %}
    <div class="col-lg-3 col-sm-6">
        <select class="form-select">
            <option selected value="#">Choisir...</option>
            {% for version in formation.formationVersionings %}
                <option value="{{ version.getId }}">
                        Version du : {{ version.getVersionTimestamp()|date('d/m/Y') }}
                        à {{ version.getVersionTimestamp()|date('H:i') }}
                    </option>
            {% endfor %}
        </select>
    </div>
    <div class="d-flex col-lg-1 col-sm-3 align-items-end">
        <a href="#">
            <button class="btn btn-sm btn-primary mb-1">
                Visionner
            </button>
        </a>
    </div>
    {% else %}
        <div class="col-lg-3 col-sm-6 d-flex">
            Aucune version enregistrée
        </div>
    {% endif %}
    <div class="d-flex col-lg-1 col-sm-3 align-items-end">
        <a href="{{ path('app_formation_versioning_save', {slug: formation.slug}) }}" onclick="saveFormationVersion(event)">
            <button class="btn btn-sm btn-success mb-1 ms-lg-1">
                Sauvegarder la version
            </button>
        </a>
    </div>
    <div class="d-none col-lg-2 justify-content-xl-center justify-content-lg-end justify-content-md-start align-items-center"
            id="spinnerFormation">
        <div class="spinner-border text-primary mb-1"></div>
    </div>
</div>