<div class="row my-5">
    <div class="col-lg-3 col-sm-6">
        <h3 class="small-title">Versions de ce parcours</h3>
        {% if parcours.parcoursVersionings|length > 0 %}
            <select class="form-select" id="selectVersion">
                <option value="#" selected="selected">Choisir...</option>
                {% for p in parcours.parcoursVersionings %}
                    <option value="{{ p.getId }}">
                        Version du : {{ p.getVersionTimestamp()|date('d/m/Y') }}
                        à {{ p.getVersionTimestamp()|date('H:i') }}
                    </option>
                {% endfor %}
            </select>
        {% else %}
            Aucune version enregistrée.
        {% endif %}
    </div>
    {% if parcours.parcoursVersionings|length > 0 %}
        <div class="d-flex col-lg-1 col-sm-3 align-items-end">
            <a href="#">
                <button class="btn btn-sm btn-primary mb-1" id="buttonShowVersion"
                        onclick="showVersion()">
                    Visionner
                </button>
            </a>
        </div>
    {% endif %}
    <div class="d-flex col-lg-1 col-sm-3 align-items-end">
        <a href="{{ path('app_parcours_versioning_save', {parcours: parcours.id}) }}"
            onclick="saveVersion(event)">
            <button class="btn btn-sm btn-success mb-1 ms-lg-1">
                Sauvegarder la version
            </button>
        </a>
    </div>
    <div class="d-none col-lg-2 align-items-end justify-content-xl-center justify-content-end"
            id="spinner">
        <div class="spinner-border text-primary mb-1"></div>
    </div>
</div>