{% if formation.hasParcours == true %}
    {# Formation avec des parcours, on affiche la version légere de formation #}
    {{ component('mention_manage', {formation:formation, type:'formation'}) }}
{% else %}
    {% if formation.parcours[0] is defined %}
        {{ component('parcours_manage', {parcours:formation.parcours[0]}) }}
        <twig:ChangeRfState formation="{{ formation }}" />
    {% else %}
        <div class="alert alert-danger">
            Pas de parcours ?
        </div>
    {% endif %}
{% endif %}
