{% extends 'base.html.twig' %}

{% block title %}Formation{% endblock %}

{% block content %}
    {{ include('typeDiplome/'~template) }}
{% endblock %}

{% block header %}
    Détail de la formation : xxx
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {href: path('app_formation_index'), title: 'Liste des formations'},
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_formation_index')  }}"
       class="btn btn-sm btn-outline-success btn-icon btn-icon-end w-100 w-sm-auto mx-2"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Retour à la liste des formations"
    >
        <i class="{{ iconBack }}"></i>
        <span> Retour à la liste des formations</span>
    </a>
{% endblock %}
