{# templates/components/_ui/iconBox.html.twig #}

<div class="flex items-center justify-center w-10 h-10 rounded-lg border-2 {{ this.getClasses() }}">
    {{ ux_icon(this.getResolvedIcon(), {
        class: 'h-5 w-5'
    }) }}
</div>


{# <div class=" #}
{#    inline-flex #}
{#    h-10 #}
{#    w-10 #}
{#    items-center #}
{#    justify-center #}
{#    rounded-xl #}
{#    {{ this.classes }} #}
{# "> #}
{#    {{ ux_icon(this.resolvedIcon, { #}
{#        class: 'h-5 w-5' #}
{#    }) }} #}
{# </div> #}
