{% extends 'base.html.twig' %}

{% block content %}
    {% include 'config_email/_form.html.twig' with {form, template, variables} %}
{% endblock %}

{% set header_title %}
    Nouveau template
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        },
        {
            href:path('app_config_email'),
            title: 'Configurations des emails',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a class="btn btn-outline-primary" href="{{ path('app_config_email') }}">Retour aux templates</a>
{% endblock %}

