<table class="table">
    <tbody>
    <tr>
        <th>Libelle</th>
        <td>{{ type_ec.libelle }}</td>
    </tr>
    <tr>
        <th>Type de diplôme</th>
        <td>
            {% for typeDip in type_ec.typeDiplomes %}
                {{ typeDip|typeDiplome }}
                {% if loop.last == false %}
                    ,
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>
