
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-bundle ###
/.idea/csv-editor.xml
/graph.svg
/oreof.mwb
/oreof.mwb.bak
/tools
.php-cs-fixer.cache


###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###


### TEST CONFIG ###
.env.local.old

### EXPORT MCCC PDF ###
mccc-export/
public/temp/*

### Script de publication ###
publication-cron/

### Dossier d'export
export/*
versioning_json/*

### API JSON Versioning ###
public/api_json/

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

### exclude sql ###
/*.sql
/pense-bete.md
