services:
  web:
    image: dannebicque/symfony-app:latest
    container_name: oreof-web
    hostname: oreof-web
    restart: always
    platform: linux/arm64
    ports:
      - 8820:80
    depends_on:
      - db
    volumes:
      - ./docker/php-conf.d/99-custom.ini:/usr/local/etc/php/conf.d/99-custom.ini:ro
      - ./:/var/www/oreof
      - ./docker/apache.conf:/etc/apache2/sites-enabled/000-default.conf

  db:
    image: mariadb:10.8
    container_name: oreof-db
    hostname: oreof-db
    restart: always

    volumes:
      - db-volume:/var/lib/mysql

    environment:
      MYSQL_ROOT_PASSWORD: PASSWORD
      MYSQL_DATABASE: oreof
      MYSQL_USER: oreof
      MYSQL_PASSWORD: PASSWORD
  # docker exec -i oreof-db sh -c 'exec mysql -u"$MYSQL_USER" -p"$MYSQL_PASSWORD" "$MYSQL_DATABASE"' < 2025_08_28_17_12_53.sql
  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    container_name: oreof-adminsql
    hostname: oreof-adminsql
    restart: always
    platform: linux/amd64
    ports:
      - 9020:80
    environment:
      PMA_HOST: db
      MYSQL_ROOT_PASSWORD: PASSWORD
      MYSQL_USER: oreof
      MYSQL_PASSWORD: PASSWORD
      MYSQL_DATABASE: oreof

  #  mercure:
  #    image: dunglas/mercure
  #    restart: always
  #    environment:
  #      SERVER_NAME: ':80'
  #      MERCURE_PUBLISHER_JWT_KEY: '!ChangeThisMercureHubPublisherJWTKey!'
  #      MERCURE_SUBSCRIBER_JWT_KEY: '!ChangeThisMercureHubSubscriberJWTKey!'
  #      # En dev, on autorise les connexions anonymes pour simplifier
  #      ALLOW_ANONYMOUS: 1
  #      CORS_ALLOWED_ORIGINS: '*'
  #    ports:
  #      - "8070:80"

  ###> symfony/mercure-bundle ###
  mercure:
    image: dunglas/mercure
    restart: unless-stopped
    environment:
      # Uncomment the following line to disable HTTPS,
      SERVER_NAME: ':80'
      MERCURE_PUBLISHER_JWT_KEY: '!ChangeThisMercureHubJWTSecretKey!'
      MERCURE_SUBSCRIBER_JWT_KEY: '!ChangeThisMercureHubJWTSecretKey!'
      # Set the URL of your Symfony project (without trailing slash!) as value of the cors_origins directive
    #      MERCURE_EXTRA_DIRECTIVES: |
    #        cors_origins http://127.0.0.1:8000
    # Comment the following line to disable the development mode
    #command: /usr/bin/caddy run --config /etc/caddy/dev.Caddyfile --adapter caddyfile
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8070/healthz" ]
      timeout: 5s
      retries: 5
      start_period: 60s
    ports:
      - "8070:80"
    volumes:
      - ./docker/mercure/dev.Caddyfile:/etc/caddy/dev.Caddyfile:ro
      - mercure_data:/data
      - mercure_config:/config
###< symfony/mercure-bundle ###

volumes:
  db-volume:

  ###> symfony/mercure-bundle ###
  mercure_data:
  mercure_config:
###< symfony/mercure-bundle ###
