<div>
    {{ component('alerte', {type:'warning', message:'Vous n\'avez pas accès à cette partie. Soit pour un problème de droits, soit parce que la modification n\'est pas ouverte pour agir sur des parties impliquants une CFVU.' }) }}
</div>
