{% set epreuvesTDTP = ['oral', 'ecrit', 'rapport', 'autre'] %}
{% set epreuvesCM = ['ecrit', 'rapport'] %}


<div class="row">
    <div class="col-12">
        <h3>Ressource : TD / TP</h3>
    </div>
</div>
{% for ep in epreuvesTDTP %}
    {{ include('typeDiplome/mccc/but/_ligne_mccc.html.twig', {prefix:'td_tp'}) }}
{% endfor %}
<div class="row">
    <div class="col-12">
        <h3>Ressource : Epreuve promotion entière</h3>
    </div>
</div>
{% for ep in epreuvesCM %}
    {{ include('typeDiplome/mccc/but/_ligne_mccc.html.twig', {prefix:'cm'}) }}
{% endfor %}
