{% set epreuvesIUT = ['portfolio', 'livrable', 'rapport', 'soutenance'] %}
{% set epreuvesHORSIUT = ['entreprise', 'rapport', 'soutenance'] %}

<div class="row">
    <div class="col-12">
        <h3>SAÉ : IUT</h3>
    </div>
</div>
{% for ep in epreuvesIUT %}
    {{ include('typeDiplome/mccc/but/_ligne_mccc.html.twig', {prefix:'iut'}) }}
{% endfor %}
<div class="row">
    <div class="col-12">
        <h3>SAÉ : Stage en entreprise</h3>
    </div>
</div>
{% for ep in epreuvesHORSIUT %}
    {{ include('typeDiplome/mccc/but/_ligne_mccc.html.twig', {prefix: 'hors_iut'}) }}
{% endfor %}
