Bonjour {{ user.display }},

Le demande d'accès pour {{ product_name }} vient d'être validée par l'administrateur.
Vous pouvez maintenant y accéder en cliquant sur le lien ci-dessous.

<a href="{{ product_url }}" target="_blanck">{{ product_name }}</a>

Cordialement,
