Bonjour {{ user.display }},

Vous venez d'être ajouté sur l'application {{ product_name }}
Vous pouvez maintenant y accéder en cliquant sur le lien ci-dessous.

<a href="{{ product_url }}" target="_blanck"></a>.

Puis choisir "Connexion URCA" avec vos identifiants habituels.

Cordialement,
L'administrateur de {{ product_name }}.
