<div class="row">
    <div class="col-12 mb-2">
        <section class="scroll-section" id="labels">
            <h2 class="small-title">Ues</h2>
            <div class="card mb-2 bg-transparent no-shadow d-none d-md-block sh-3">
                <div class="card-body pt-0 pb-0 h-100">
                    <div class="row g-0 h-100 align-content-center">
                        <div class="col-12 col-md-1 d-flex align-items-center mb-2 text-secondary
                        mb-md-0 text-small justify-content-center">
                            UE
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            ECTS
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Nb. EC
                        </div>
                        <div class="col-12 col-md-2 d-flex align-items-center mb-2 justify-content-center text-secondary mb-md-0 text-small">
                            Type UE
                        </div>
                        <div class="col-12 col-md-2 d-flex align-items-center mb-2 justify-content-center text-secondary mb-md-0 text-small">
                            Nature UE
                        </div>
                        <div class="col-6 col-md-1 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Détails
                        </div>
                        <div class="col-6 col-md-4 d-flex align-items-center justify-content-center
                        text-secondary text-small">
                            Actions
                        </div>
                    </div>
                </div>
            </div>
            <div>
                {% for ue in ues|filter(ue => ue.ueParent == null) %}
                    {{ component('ue_tree', {
                        ue: ue,
                        parcours: parcours,
                        semestre: semestre,
                        typeDiplome: typeDiplome,
                        isSemestreRaccroche: isSemestreRaccroche
                    }) }}
                {% endfor %}
            </div>
        </section>
    </div>
</div>
