<div class="mb-1">
    <label class="form-label" for="raccrocher">
        {{ 'ue.raccrocher.label'|trans({}, 'form') }}
        <span class="required"></span>
        <i class="fal fa-question-circle ms-1" data-controller="tooltip" data-tooltip-placement-value="bottom" title="{{ 'ue.raccrocher.helps'|trans({}, 'help') }}"></i>
    </label>
    <select id="raccrocher"
            name="raccrocher"
            required="required"
            class="form-select"
    >
        ...
    </select>
</div>
<button class="btn btn-outline-success" {{ stimulus_action('ue', 'valideReutilise') }}>
    {{ 'ue.raccrocher.bouton'|trans({}, 'form') }}
</button>
