{% extends 'base.html.twig' %}

{% block header %}DPE ouverts{% endblock %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_dpe_demande_liste', {
                    type: type,
                    composante: composante is defined ? composante.id : ''})
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body" {{ stimulus_target('crud', 'liste') }}>
        </div>
    </div>
{% endblock %}
