<h1>Bonjour,</h1>

<p>Pour réinitialiser votre mot de passe, merci de suivre le lien ci-dessous :</p>

<a href="{{ url('app_reset_password', {token: resetToken.token}) }}">{{ url('app_reset_password', {token: resetToken.token}) }}</a>

<p>Ce lien expirera dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData,
        'ResetPasswordBundle') }}.</p>

<p>
    Cordialement,<br>
    Application {{product_name}}
</p>
