{% extends 'base-speciale.html.twig' %}

{% block title %}Mot de passe perdu{% endblock %}

{% block content %}
    <div class="mb-5">
        <h2 class="cta-1 mb-0 text-primary">Bienvenue,</h2>
        <h2 class="cta-1 text-primary">Mot de passe perdu ?</h2>
    </div>
    {% for flashError in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <form class="tooltip-end-bottom" method="post">

        <div class="mb-3 filled form-group tooltip-end-top form-floating">
            <input type="email" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>
            <label for="inputEmail">Adresse email</label>
        </div>
        <div>
            <small>
                Indiquez votre adresse email, et nous vous enverrons un email pour réinitialiser votre mot de passe.
            </small>
        </div>

        <button class="btn btn-primary">Envoyer la demande de réinitialisation</button>
        <a href="{{ path('app_login') }}">Me connecter</a><br>

    </form>
{% endblock %}
