<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ rythme_formation.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ rythme_formation.libelle }}</td>
    </tr>
    </tbody>
</table>
