<h4>Bilan formation</h4>
{% if heuresEctsFormation.sommeFormationEcts.isDifferent == true %}
    <p>Modification des ECTS :
        {{ heuresEctsFormation.sommeFormationEcts|diffNewOriginal }}</p>
{% endif %}

{% if heuresEctsFormation.sommeFormationTotalPresDist.isDifferent == true %}
    <p>Modification du total des heures totales (pres. et dist.) de la formation :
        {{ heuresEctsFormation.sommeFormationTotalPresDist|diffNewOriginal }}</p>
{% endif %}
