{% if sem.raccroche.isDifferent == true %}
    <p>Semestre
        <span class="diff-new">{{ sem.raccroche.new == true ? 'raccroché' : 'non raccroché' }}</span>
        (au lieu de <span class="diff-original">{{ sem.raccroche.original == true ? 'raccroché' : 'non raccroché' }}</span>)
    </p>
{% endif %}

{% if sem.ordre.isDifferent == true %}
    <p>Semestre initialement en position
       {{ sem.ordre|diffNewOriginal }}
    </p>
{% endif %}
