{% if ue.raccroche.isDifferent == true %}
    <p>
        UE <span class="diff-new">{{ ue.raccroche.new == true ? 'raccrochée' : 'non raccrochée' }}</span>
        (au lieu de <span class="diff-original">{{ ue.raccroche.original == true ? 'raccrochée' : 'non raccrochée' }}</span>)
    </p>
{% endif %}
{% if ue.display.isDifferent == true %}
    <p>
        UE
        {{ ue.display|diffNewOriginal }}
    </p>
{% endif %}
{% if ue.libelle.isDifferent == true %}
    <p>
        Modification du libellé de l'UE
        {{ ue.libelle|diffNewOriginal }}
    </p>
{% endif %}
