<table class="table">
    <thead>
    <tr>
        <th>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="check-all">
                </label>
            </div>
        </th>
        <th>
            Type de diplôme
        </th>
        <th>
            Libellé
        </th>
        <th>
            Etat
        </th>
    </tr>
    </thead>
    <tbody>
    {% for formation in formations %}

    {% endfor %}
    </tbody>
</table>
