<turbo-frame id="tab-content">
    <header class="border-b border-slate-100 flex justify-between items-center bg-slate-50/50">
        <div>
            <h2 class="text-xl font-black text-slate-800 tracking-tight">{{ titre }}</h2>
            <p class="text-xs text-slate-400 font-bold uppercase mt-1">{{ texte_help }}</p>
        </div>
        <div class="flex gap-3">

        </div>
    </header>

    <div class="flex-1 overflow-y-auto p-2 custom-scrollbar">

    </div>
</turbo-frame>
