{% extends 'base.html.twig' %}

{% block content %}
    {{ component('DataTable', { config: table }) }}
{% endblock %}

{% set header_title %}
    Gestion des Natures d'UE ou d'EC
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        },
        {
            href:'',
            title: 'Gestion des Natures d\'UE ou d\'EC',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a
            data-action="click->modalturbo#open"
            data-turbo="true"
            href="{{ path('app_nature_ue_ec_new') }}"
            class="btn border border-emerald-300 bg-emerald-50 text-emerald-700 hover:bg-emerald-100 hover:text-emerald-800"
            {{ stimulus_controller('tooltip', {
                placement: 'bottom',
                customClass: 'app-tooltip',
                title: "Ajouter une nature d'UE ou d'EC"
            }) }}
    >
        <twig:UX:Icon name="icon:add" class="h-4 w-4"/>
        <span> Ajouter une nature d'UE ou d'EC</span>
    </a>
{% endblock %}
