<!-- Stats Start -->
<h2 class="small-title">Stats</h2>
<div class="row gy-2">
    <div class="col-2 p-0">

        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i data-acorn-icon="alarm" class="text-white"></i>
                </div>
                <p class="mb-0 lh-1">Pending Orders</p>
                <p class="cta-3 mb-0 text-primary">25</p>
            </div>
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i data-acorn-icon="navigate-diagonal" class="text-white"></i>
                </div>
                <p class="mb-0 lh-1">Shipped Orders</p>
                <p class="cta-3 mb-0 text-primary">48</p>
            </div>
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i data-acorn-icon="check-circle" class="text-white"></i>
                </div>
                <p class="mb-0 lh-1">Delivered Orders</p>
                <p class="cta-3 mb-0 text-primary">53</p>
            </div>
        </div>
    </div>
    <div class="col-2 p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i data-acorn-icon="arrow-bottom-left" class="text-white"></i>
                </div>
                <p class="mb-0 lh-1">Returned Orders</p>
                <p class="cta-3 mb-0 text-primary">4</p>
            </div>
        </div>
    </div>
    <div class="col-2  p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i data-acorn-icon="warning-hexagon" class="text-white"></i>
                </div>
                <p class="mb-0 lh-1">Unconfirmed Orders</p>
                <p class="cta-3 mb-0 text-primary">3</p>
            </div>
        </div>
    </div>
    <div class="col-2  p-0">
        <div class="card me-2 sh-20 hover-border-primary">
            <div class="h-100 p-4 text-center align-items-center d-flex flex-column justify-content-between">
                <div class="d-flex flex-column justify-content-center align-items-center sh-5 sw-5 rounded-xl bg-gradient-light mb-2">
                    <i data-acorn-icon="pin" class="text-white"></i>
                </div>
                <p class="mb-0 lh-1">Missing Orders</p>
                <p class="cta-3 mb-0 text-primary">2</p>
            </div>
        </div>
    </div>
</div>
<!-- Stats Start -->
