<p>Ce site n'enregistre aucune donnée sur votre utilisation de l'outil.</p>
<p>Un seul cookie est utilisé permettant de gérer la connexion.</p>
<p>Les données présentes dans la base de données sont vos données
    professionnelles (nom, prénom email, téléphone pro s'il existe).</p>
<p>Les fichiers de log (en cas d'erreur ou de problème) sont
    anonymes et sans informations personnelles vous concernant.</p>
