<div class="col-12">
    <dl>
        <dt>Responsable de l'enseignement</dt>
        <dd>{{ elementConstitutif.responsableEc != null ? elementConstitutif.responsableEc.display : 'erreur' }}</dd>
        <dt>Email</dt>
        <dd>{{ elementConstitutif.responsableEc != null ? elementConstitutif.responsableEc.email : 'erreur' }}</dd>
    </dl>
</div>
