<div class="col-12">
    <dl>
        <dt>Responsable de l'enseignement</dt>
        <dd>{{ ficheMatiere.responsableFicheMatiere != null ? ficheMatiere.responsableFicheMatiere.display : 'erreur' }}</dd>
        <dt>Email</dt>
        <dd>{{ ficheMatiere.responsableFicheMatiere != null ? ficheMatiere.responsableFicheMatiere.email : 'erreur' }}</dd>
    </dl>
</div>
