<div class="row">
    {{ include('typeDiplome/ec/common/_licence.html.twig') }}
    <!-- Scrollspy Start -->
    <div class="col-md-auto d-none d-lg-block" id="scrollSpyMenu">
        <ul class="nav flex-column">
            <li>
                <a class="nav-link p-2" href="#identite_enseignement">
                    <i class="fal fa-chevron-right"></i>
                    Identité de l'enseignement
                </a>
            </li>
            <li>
                <a class="nav-link p-2" href="#presentation">
                    <i class="fal fa-chevron-right"></i>
                    Présentation
                </a>
            </li>
            <li>
                <a class="nav-link p-2" href="#objectifs">
                    <i class="fal fa-chevron-right"></i>
                    Objectifs / compétences acquises
                </a>
            </li>
                <li>
                    <a class="nav-link p-2" href="#structure">
                        <i class="fal fa-chevron-right"></i>
                        Structure et organisation pédagogiques
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#mccc">
                        <i class="fal fa-chevron-right"></i>
                        Modalités de contrôle des connaissances
                    </a>
                </li>
                <li>
                    <a class="nav-link p-2" href="#infos">
                        <i class="fal fa-chevron-right"></i>
                        Infos Pratiques
                    </a>
                </li>
        </ul>
    </div>
    <!-- Scrollspy End -->
</div>
