{% extends 'base.html.twig' %}


{% block header %}

{% endblock %}

{% block content %}

<h1 class="text-primary">
    Liste des composantes pour générer les rapports des changements
</h1>

{% endblock %}