<table class="table">
    <tbody>
    <tr>
        <th>Libellé</th>
        <td>{{ mention.libelle }}</td>
    </tr>
    <tr>
        <th>Sigle</th>
        <td>{{ mention.sigle }}</td>
    </tr>
    <tr>
        <th>Type de diplôme</th>
        <td>{{ mention.typeDiplome|typeDiplome }}</td>
    </tr>
    </tbody>
</table>

