<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ mention.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ mention.libelle }}</td>
    </tr>
    <tr>
        <th>Sigle</th>
        <td>{{ mention.sigle }}</td>
    </tr>
    </tbody>
</table>

