{% import "typeDiplome/mccc-non-editable/licence/_compareMcccVersioning.macro.html.twig" as compareMccc %}

{% if hasChangedTypeMccc is not defined %}
    {% set hasChangedTypeMccc = false %}
{% endif %}

{% set hasDisplayComparaison = (isFromVersioning ?? 'false' != 'true') 
    and (isMcccFromVersion ?? false == true)
    and (hasChangedTypeMccc == false)
%}

<h3>1ᵉ Session</h3>
<div>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th></th>
            <th>Pourcentage</th>
            <th>Nb d'épreuve(s)</th>
            <th>CC avec TP</th>
            <th>Pourcentage du TP</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th>Contrôle continu</th>
            <td>50%</td>
            <td>2 épreuves</td>
            <td>
                {% set hasOptionVersioning = mcccVersioning[1]['cc'][1].options.cc_has_tp ?? false %}
                {% if mcccs[1]['cc'][1].options is defined and mcccs[1]['cc'][1].options.cc_has_tp is defined and mcccs[1]['cc'][1].options.cc_has_tp == "on" %}
                    {% set libelleHasTp = 'Oui' %}
                {% else %}
                    {% set libelleHasTp = 'Non' %}
                {% endif %}
                {{
                    compareMccc.displayMccc(
                        libelleHasTp,
                        hasOptionVersioning == 'on' ? 'Oui' : 'Non',
                        "",
                        hasDisplayComparaison
                    )
                }}
            </td>
            <td>
                {% set pourcentageTpVersioning = mcccVersioning[1]['cc'][1].options.cc_has_tp ?? false %}
                {% if mcccs[1]['cc'][1].options is defined and mcccs[1]['cc'][1].options.cc_has_tp is defined and mcccs[1]['cc'][1].options.cc_has_tp == "on" %}
                    {% set pourcentageTp = '50%' %}
                {% else %}
                    {% set pourcentageTp = '-' %}
                {% endif %}
                {{
                    compareMccc.displayMccc(
                        pourcentageTp,
                        pourcentageTpVersioning == 'on' ? '50%' : '-',
                        "",
                        hasDisplayComparaison
                    )
                }}
            </td>
        </tr>
        </tbody>
    </table>
</div>
<h3>2ᵉ Session</h3>
<div>
    {% if mcccs[2]['et'] is defined %}
        {{ include('typeDiplome/mccc-non-editable/licence/_secondeChance.html.twig',
            {
                mcccs:mcccs[2]['et'],
                mcccVersioning: mcccVersioning[2]['et'] ?? ""
            }) 
        }}
    {% endif %}
</div>

