<h3>1ᵉ Session</h3>
<input type="hidden" value="cc_autre" name="type_cc">

    {% if mcccs[1]['cc'] is defined and mcccs[1]['cc']|length > 2 %}
        {{ include('typeDiplome/mccc-non-editable/licence/_epreuveCc.html.twig', {mcccs:mcccs[1]['cc']}) }}
    {% endif %}



<h3 class="mt-2">2ᵉ Session</h3>

    {% if mcccs[2]['et'] is defined %}
        {{ include('typeDiplome/mccc-non-editable/licence/_secondeChance.html.twig', {mcccs:mcccs[2]['et']}) }}
    {% endif %}



