<h3>1ᵉ Session</h3>
<div id="epreuves_ct">
    {% if mcccs[1]['et'] is defined %}
        {{ include('typeDiplome/mccc-non-editable/licence/_epreuveCt.html.twig', {mcccs:mcccs[1]['et']}) }}
    {% endif %}
</div>

<h3>2ᵉ Session</h3>
<div id="epreuves_s2_ct">
    {% if mcccs[2]['et'] is defined %}
        {{ include('typeDiplome/mccc-non-editable/licence/_secondeChance.html.twig', {mcccs:mcccs[2]['et']}) }}
    {% endif %}
</div>
