<table class="table">
    <tbody>
    <tr>
        <th>Libelle</th>
        <td>{{ domaine.libelle }}</td>
    </tr>
    <tr>
        <th>Sigle</th>
        <td>{{ domaine.sigle }}</td>
    </tr>
    </tbody>
</table>
