i.button-page {
    background: var(--primary);
    color: white;
    border-radius: 50%;
    padding: .5em .5em .5em .5em;
    font-size: 1.5em !important;
}

i.button-page:hover {
    background: var(--alternate);
}

.numero-page {
    text-align: center;
}

.form-check {
    margin-left: auto;
    margin-right: auto;
}