{% extends 'base.html.twig' %}

{% block content %}
    {{ component('DataTable', { config: table }) }}

{% endblock %}

{% set header_title %}
    Gestion des établissements
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <a href="{{ path('app_etablissement_new') }}"
       class="btn border border-emerald-300 bg-emerald-50 text-emerald-700 hover:bg-emerald-100 hover:text-emerald-800"
       data-bs-toggle="tooltip"
       data-bs-placement="bottom"
       title="Ajouter un établissement">
        <twig:UX:Icon name="icon:add" class="h-4 w-4"/>
        <span>Ajouter un établissement</span>
    </a>
{% endblock %}
