{% extends 'base.html.twig' %}

{% block header %}
    Outil de recherche
{% endblock %}

{% block stylesheets %}
{{ parent() }}

<style>
input:focus{
    border-color: black !important;
}

input[name='keyword_1']::placeholder {
    color: black;
}
</style>
{% endblock %}

{% block content %}

<div class="row justify-content-center mt-5">
    <div class="col-8 mt-5 mb-3">
        <form action="{{ path('app_search_action') }}">
            <div class="form-group">
                <div class="row">
                    <div class="col-12 col-md-4 text-center mb-3 mb-md-0">
                        <label for="keyword" class="fs-4 text-center">
                            Mot-clé
                        </label>
                    </div>
                    <div class="col-12 col-md-8 col-lg-6">
                    <input 
                        class="form-control border border-primary rounded ps-2 ms-md-3" 
                        type="text" 
                        placeholder="Entrez votre recherche..."
                        id="keyword"
                        name="keyword_1"
                    >
                    </div>
                </div>
            </div>
            <div class="d-flex col-12 justify-content-center">
                <button 
                    type="submit"
                    class="btn btn-primary btn-small border border-light rounded mt-5"
                >
                    Rechercher
                </button>
            </div>
        </form>
    </div>
</div>


{% endblock %}
