{% extends 'base.html.twig' %}

{% block content %}

<h1 class="small-title fs-3 mb-4">Résultats de la recherche</h1>

<p class="fs-3 text-dark text-center mt-5">
    {{ keyword_1 is not empty ? 'Mot-clé : ' ~ keyword_1 : 'Aucun mot-clé renseigné.' }}
</p>

<div class="row justify-content-center">
    <div class="col-8">
        {% if parcoursArray|length > 0 %}
                {% for p in parcoursArray %}
                    <div class="col-12 border border-primary rounded my-4">
                        <div class="row p-2 mt-1">
                            <div class="col-8">
                                <a 
                                    href="{{ path('app_parcours_show', {id: p.id}) }}"
                                    class="text-primary font-weight-bold"
                                >
                                    {{ p.libelle }}
                                </a>
                            </div>
                            <div class="col-4">
                                <span class="text-end">
                                    Sigle : {{ p.sigle }}
                                </span>
                            </div>
                        </div>
                        <div class="row p-2 mt-2">
                            <div>
                                {% if 'objectifsParcours' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-success">
                                        Objectifs du parcours
                                    </span>
                                {% endif %}
                                {% if 'poursuitesEtudes' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-warning">
                                        Poursuite d'études
                                    </span> 
                                {% endif %}
                                {% if 'contenuFormation' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-primary">
                                        Contenu de la formation
                                    </span>
                                {% endif %}
                                {% if 'resultatsAttendus' in resultArrayBadge[loop.index0] %}
                                    <span class="badge rounded-pill text-bg-info">
                                        Résultats attendus
                                    </span>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
        {% else %}
            <h1 class="fs-4 my-2 text-dark">
                Aucun parcours trouvé pour le mot-clé fourni...
            </h1>
        {% endif %}
    </div>
</div>

{% endblock %}