<div class="row justify-content-center mt-4">
    <div class="form-check">
        <input class="form-check-input" type="radio" 
            name="searchType" value="parcours" 
            id="searchParcours" {{ typeRecherche == 'parcours' ? 'checked' : '' }}
        >
        <label class="form-check-label text-dark" for="searchParcours">
            Parcours
        </label>
    </div>
    <div class="form-check">
        <input class="form-check-input" type="radio" 
            name="searchType" value="ficheMatiere" 
            id="searchFicheMatiere"
            {{ typeRecherche == 'ficheMatiere' ? 'checked' : ''}}
        >
        <label class="form-check-label text-dark" for="searchFicheMatiere">
            Fiche matière
        </label>
    </div>
</div>