{# templates/user/create_success.stream.html.twig #}

<turbo-stream action="replace" target="badge_heure_{{ ec.id }}">
    <template>
        <span class="w-1.5 h-1.5 rounded-full bg-green-500" id="badge_heure_{{ ec.id }}"></span>
    </template>
</turbo-stream>

<turbo-stream action="replace" target="modal_wrapper">
    <template>
        {% include '../../_ui/modal_wrapper.html.twig' with { open: false } %}
    </template>
</turbo-stream>
