# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
    BASE_URL: '%env(BASE_URL)%'
    LDAP_HOST: '%env(LDAP_HOST)%'
    LDAP_LOGIN: '%env(LDAP_LOGIN)%'
    LDAP_PASSWORD: '%env(LDAP_PASSWORD)%'
    LDAP_BASE_DN: '%env(LDAP_BASE_DN)%'
    CAS_HOST: '%env(resolve:CAS_HOST)%'
    CAS_PORT: '%env(resolve:CAS_PORT)%'
    CAS_CONTEXT: '%env(resolve:CAS_CONTEXT)%'
    CAS_CLIENT_SERVICE_NAME: '%env(resolve:CAS_CLIENT_SERVICE_NAME)%'
    api_key: '%env(resolve:API_KEY)%'
    api_url: '%env(resolve:API_URL)%'
    WSDL_APOTEST: '%env(resolve:WSDL_APOTEST)%'
    WSDL_APOGEE_PRODUCTION: '%env(resolve:WSDL_APOGEE_PRODUCTION)%'
    APP_HOSTNAME: '%env(APP_HOSTNAME)%'
    export_api_key: '%env(resolve:EXPORT_API_KEY)%'

services:
    # default configuration for services in *this* file
    _defaults:
        autowire: true      # Automatically injects dependencies in your services.
        autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

    # makes classes in src/ available to be used as services
    # this creates a service per class whose id is the fully-qualified class name
    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/DTO/'
            - '../src/Kernel.php'
            - '../src/TypeDiplome/DependencyInjection/'

    # add more service definitions when explicit configuration is needed
    # please note that last definitions always *replace* previous ones

    App\Serializer\ModaliteEnseignementEnumNormalizer:
        tags: [ 'serializer.normalizer' ]

      #    App\TypeDiplome\:
      #      resource: '../src/TypeDiplome/'
      #      exclude: '../src/TypeDiplome/DependencyInjection/'
      #      autoconfigure: true
      # L’autoconfiguration ajoutera le tag si défini dans la config de l’interface

    _instanceof:
      App\Workflow\Validator\StepValidatorInterface:
        tags: [ 'workflow.validator' ]
      App\Email\Vars\VariableProviderInterface:
        tags: [ 'app.variable_provider' ]

    App\TypeDiplome\TypeDiplomeResolver:
      arguments:
        $handlersByCode: !tagged_locator { tag: 'app.type_diplome_handler', index_by: 'code' }

    App\Service\TranslationFileManager:
        arguments:
            $projectDir: '%kernel.project_dir%'
            $cacheDir: '%kernel.cache_dir%'

    App\Service\ProjectDirProvider:
      arguments:
        $projectDir: '%kernel.project_dir%'

    App\Service\PythonJobLauncher:
      arguments:
        $projectDir: '%kernel.project_dir%'

    App\Notification\NotificationPreferenceResolver:
      arguments:
        $em: '@doctrine.orm.entity_manager'
#
#    App\Workflow\Registry\StepCheckRegistry:
#      arguments:
#        $checks: !tagged_iterator app.workflow.step_check

  # Sandbox Twig très restrictive
    Twig\Sandbox\SecurityPolicy:
      arguments:
        $allowedTags: [ 'if' ]            # pas de structures de contrôle pour rester "logicless"
        $allowedFilters: [ 'escape','upper','lower','title','date','number_format','nl2br' ]
        $allowedMethods: [ ]
        $allowedProperties: [ ]
        $allowedFunctions: [ ]

    twig.sandbox_extension:
      class: Twig\Extension\SandboxExtension
      arguments:
        - '@Twig\Sandbox\SecurityPolicy'
        - false # sandbox OFF par défaut ; le renderer l'activera ponctuellement

  # Registry : récupère tous les services taggés
    App\Service\VariableRegistry:
      arguments:
        $providers: !tagged_iterator app.variable_provider

    App\I18n\KeyModeTranslator:
      decorates: 'translator.default'   # << important
      arguments:
        - '@App\I18n\KeyModeTranslator.inner'
        - '@App\I18n\KeyModeContext'
        - '@monolog.logger.translation'
        - '%kernel.debug%'
      public: false

    App\EventSubscriber\CreateUserSubscriber:
      tags:
        - { name: doctrine.event_subscriber }

    App\Twig\TurboExtension:
      tags: [ 'twig.extension' ]

    App\Workflow\Handler\Handlers\:
      resource: '../src/Workflow/Handler/Handlers/'
      tags: [ 'app.workflow_transition_handler' ]
