{% set classes = {
    'red': 'bg-red-100 text-red-800',
    'orange': 'bg-amber-100 text-amber-800',
    'green': 'bg-emerald-100 text-emerald-800'
} %}

{% set label = {
    'red': 'Incomplet',
    'orange': 'À finaliser',
    'green': 'Valide'
} %}

{% if status != 'green' %}
    <span class="ml-2 inline-flex items-center px-2 py-0.5 rounded text-xs font-medium {{ classes[status] ?? classes.red }}">
  {{ label[status] ?? label.red }}
</span>
{% else %}
    <span class="w-2 h-2 inline-flex bg-green-500 rounded-full"></span>
{% endif %}
