{% set hrefLastVersion = "#" %}
{% set hrefLastYear = "#" %}
{% if withUrlLink is defined and withUrlLink == true %}
    {% set hrefLastVersion = path('app_parcours_show', {id: parcours_id}) ~ "?optionDisplay=diffGlobalParcours" %}
    {% set hrefLastYear = path('app_parcours_show', {id: parcours_id}) ~ "?optionDisplay=diffGlobalParcoursCampagne" %}
{% endif %}

<div class="btn-group">
    <button 
        type="button"
        class ="btn btn-sm btn-outline-info d-block mx-2 mb-1 dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        <i class="fa-light fa-not-equal"></i>
        Comparer les descriptifs
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="{{ hrefLastVersion }}" id="showDiffWithLastVersion">
            Version initiale de cette année
        </a>
        <a class="dropdown-item" href="{{ hrefLastYear }}" id="showDiffWithLastYear">
            Descriptifs de l'année précédente
        </a>
    </div>
</div>