<div class="btn-group">
    <button 
        type="button"
        class ="btn btn-sm btn-outline-info d-block mx-2 mb-1 dropdown-toggle"
        data-bs-toggle="dropdown"
        aria-expanded="false"
    >
        <i class="fa-light fa-not-equal"></i>
        Comparer les descriptifs
    </button>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" id="showDiffWithLastVersion">
            Dernière version validée
        </a>
        <a class="dropdown-item" href="#" id="showDiffWithLastYear">
            Campagne de collecte précédente
        </a>
    </div>
</div>