{% form_theme form 'communs/form_theme_v2.html.twig' %}
{{ form_start(form) }}
    {{ form_widget(form) }}

<div class="mt-4 flex flex-wrap items-center gap-2">
    <twig:Button
            type="submit"
            variant="success"
            :soft="false"
            :outline="false"
            icon="icon:save"
            label="Enregistrer"
            :dataAction="isModal is defined and isModal == true ? 'click->base#sauvegardeFormModal' : ''"
    />

    {% if button_add_other is defined and button_add_other == true %}
        <twig:Button
                type="submit"
                name="btn_update"
                value="add_other"
                variant="success"
                :soft="true"
                :outline="false"
                icon="icon:save"
                label="Enregistrer et continuer"
        />
    {% endif %}

    {% if button_label is defined and button_label == 'modifier' %}
        <twig:Button
                type="submit"
                name="btn_update"
                value="redirect_to_index"
                variant="success"
                :soft="true"
                :outline="false"
                icon="icon:edit"
                label="Modifier"
        />
    {% endif %}
</div>

{{ form_end(form) }}
