{% set color = color is defined ? color : 'indigo' %}
{% set color_map = {
    'indigo': 'app-section-header-icon--indigo',
    'amber': 'app-section-header-icon--amber',
    'red': 'app-section-header-icon--red',
    'green': 'app-section-header-icon--green',
    'teal': 'app-section-header-icon--teal'
} %}
{% set icon_color_class = color_map[color]|default(color_map['indigo']) %}

<div class="app-section-header">
    <div class="app-section-header-main">
        <div class="app-section-header-icon {{ icon_color_class }}">
            <twig:UX:Icon :name="icon" class="w-5 h-5"/>
        </div>
        <h3 class="app-section-header-title">{{ title }}</h3>
    </div>
    {% if (print is not defined or print == false) %}
        <div class="ml-4">
            {{ component('commentaire', {
                commentaires: formation.commentaires,
                id: formation.id,
                type: 'formation',
                zone: 'identite_formation',
            }) }}
        </div>
    {% endif %}
</div>
