<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ ville.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ ville.libelle }}</td>
    </tr>
    <tr>
        <th>Etablissement</th>
        <td>{{ ville.etablissement ? ville.etablissement.libelle : 'Non défini' }}</td>
    </tr>
    </tbody>
</table>

