<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ site.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ site.libelle }}</td>
    </tr>
    <tr>
        <th>Etablissement</th>
        <td>{{ site.etablissement ? site.etablissement.libelle : 'Non défini' }}</td>
    </tr>
    </tbody>
</table>

