<h2 class="small-title">Les formations</h2>
<div class="card">
    <div class="card-title"></div>
    <div class="card-body"
            {{ stimulus_controller('crud', {url: path('app_codification_liste_type_diplome', {typeDiplome: typeDiplome.id})}) }}>
        {{ include('communs/_recherche.html.twig') }}
        <div {{ stimulus_target('crud', 'liste') }}>

        </div>
    </div>
</div>
