<div class="row mb-2">
    <div class="col-8"></div>
    <div class="col-4">
        <a href="{{ path('parcours_v2_voir', {parcours:parcours.id}) }}" class="btn btn-sm btn-outline-info">
            <i class="{{ iconShow }}"></i>
            Voir la fiche descriptive du parcours</a>
    </div>
</div>

{{ include('codification/_enteteParcours.html.twig') }}

{{ include('typeDiplome/formation/_structure.html.twig', {parcours:parcours, source: 'codification'}) }}

