@import "~bootstrap/dist/css/bootstrap.min.css";
@import "./vendor/OverlayScrollbars.min.css";

@import "@fortawesome/fontawesome-pro/css/fontawesome.min.css";
@import "@fortawesome/fontawesome-pro/css/duotone.min.css";
@import "@fortawesome/fontawesome-pro/css/light.min.css";
@import "@fortawesome/fontawesome-pro/css/brands.min.css";

$variable-prefix:             bs- !default; // Deprecated in v5.2.0 for the shorter `$prefix`
$prefix:                      $variable-prefix !default;
body {
  --avatar-size: 2rem;
  --avatar-size-md: 4rem;
  --avatar-size-xxl: 6rem;
  --color-avatar: #007bff;
  --complementaire:#e36724;
  --secondary: #e36724;
}
@import "./styles.css";
@import "./main.scss";

body {
  --secondary: #e36724;
}


