{% extends 'base.html.twig' %}
{# todo: deprecated plus utilisé #}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_parcours_liste'),
                storageKey: 'parcours_liste',
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body">
            {{ include('communs/_recherche.html.twig') }}
            <div {{ stimulus_target('crud', 'liste') }}>

            </div>
        </div>
    </div>
{% endblock %}

{% set header_title %}
    Détails des parcours
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}
