<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ type_diplome.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ type_diplome.libelle }}</td>
    </tr>
    <tr>
        <th>Sigle</th>
        <td>{{ type_diplome.sigle }}</td>
    </tr>
    </tbody>
</table>
