<table class="table">
    <tbody>
    <tr>
        <th>Libellé</th>
        <td>{{ type_diplome.libelle }}</td>
    </tr>
    <tr>
        <th>Libellé court</th>
        <td>{{ type_diplome.libelleCourt }}</td>
    </tr>
    {% if type_diplome.getModalitesAdmission is defined and type_diplome.getModalitesAdmission is not null %}
        <tr>
            <th>Modalités d'admission</th>
            <td>
                {{ type_diplome.getModalitesAdmission|raw }}
            </td>
        </tr>
    {% endif %}
    {% if type_diplome.getInsertionProfessionnelle is defined and type_diplome.getInsertionProfessionnelle is not null %}
        <tr>
            <th>Insertion professionnelle</th>
            <td>
                {{ type_diplome.getInsertionProfessionnelle|raw }}
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
