<table class="table">
    <tbody>
    <tr>
        <th>Libellé</th>
        <td>{{ type_diplome.libelle }}</td>
    </tr>
    <tr>
        <th>Libellé court</th>
        <td>{{ type_diplome.libelleCourt }}</td>
    </tr>
    </tbody>
</table>
