{% if typeMccc == 'cci' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_cci.html.twig') }}
{% elseif typeMccc == 'cc' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_cc.html.twig') }}
{% elseif typeMccc == 'ct' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_ct.html.twig') }}
{% elseif typeMccc == 'cc_ct' %}
    {{ include('typeDiplome/mccc-non-editable/licence/_cc_ct.html.twig') }}
{% else %}
    <twig:alerte type="danger" message="Le type de MCCC est inconnu"/>
{% endif %}

{% if (isVersioning is not defined or isVersioning == false) and codeVersion is defined %}
<div class="row justify-content-start mt-5">
    <div class="col-4"> 
        <button class="btn btn-sm btn-primary" data-action="click->modal#refreshModal">
            Dernière version
        </div>
    </div>
</div>
{% endif %}