<div class="flex justify-end gap-2">
    <button type="button"
            class="rounded-lg px-3 py-2 hover:bg-gray-100"
            data-action="modalturbo#close">
        Fermer
    </button>
</div>
