<div class="app-modal-footer-actions">
    <button type="button"
            class="app-modal-footer-btn app-modal-footer-btn--secondary"
            data-action="modalturbo#close">
        Annuler
    </button>

    {# Soumet le premier form présent dans le body #}
    <button type="submit"
            class="app-modal-footer-btn app-modal-footer-btn--primary"
            form="modal_form">
        {{ submitLabel ? submitLabel|trans({},'modal') : 'Enregistrer' }}
    </button>
</div>
