<turbo-stream action="update" target="modal_title">
    <template>
        <div class="app-modal-title">{{ title }}</div>
        {% if subtitle %}
            <div class="app-modal-subtitle">{{ subtitle }}</div>
        {% endif %}
    </template>
</turbo-stream>

<turbo-stream action="update" target="modal_body">
    <template>
        {{ body|raw }}
    </template>
</turbo-stream>

<turbo-stream action="update" target="modal_footer">
    <template>
        {{ footer|raw }}
    </template>
</turbo-stream>
