{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour,</p>

    <p>La formation <strong>{{ formation.displayLong }}</strong>, vient de déposer le PV du conseil.</p>

{% endblock %}
