{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour,</p>

    <p>Votre formation <strong>{{ formation.displayLong }}</strong>, a été refusée par le central.</p>

    <p>Motif du refus :</p>

    <p>{{ motif|nl2br|raw }}</p>
{% endblock %}
