{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour,</p>

    <p>Le conseil de la composante <strong>{{ composante.libelle }}</strong>, vient de valider la formation
        <strong>{{ formation.displayLong }}</strong>.</p>

    {% if historique != null %}
        {# tester si PV ou laisser passer et indiquer? #}
        {% if historique.complements.laisserPasser is defined %}
            <p><strong>Demande de laisser passer.</strong></p>
        {% endif %}
        {% if historique.complements.fichier is defined %}
            <p><strong>Fichier de PV déposé.</strong></p>
        {% endif %}
    {% else %}
        Erreur d'historique...
    {% endif %}
{% endblock %}
