{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour {{ dpe.display }},</p>

    <p>La formation <strong>{{ formation.displayLong }}</strong>, vient d'être validée et soumise par son responsable.</p>

    <p>Vous pouvez maintenant le valider, le refuser ou émettre des réserves en cliquant sur le lien suivant :</p>

    <p><a href="{{ url('app_formation_edit', {'slug': formation.slug}) }}">{{ url('app_formation_edit', {'slug': formation.slug}) }}</a></p>

{% endblock %}
