{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour,</p>

    <p>Le conseil de la composante <strong>{{ composante.libelle }}</strong>, vient de valider la formation <strong>{{ formation.displayLong }}</strong>.</p>

    {# todo: tester si PV ou laisser passer et indiquer? #}
{% endblock %}
