{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour,</p>

    <p>Votre formation : <strong>{{ formation.displayLong }}</strong>, vient de valider les VP .</p>
{% endblock %}
