{% extends 'mails/base_mail.html.twig' %}

{% block content %}
    <p>Bonjour,</p>

    <p>La formation <strong>{{ parcours.formation.displayLong }}</strong>, vient de déposer le PV du conseil pour le parcours {{ parcours.libelle }}.</p>

{% endblock %}
