{% extends 'mails/base_mail.html.twig' %}
{# Template: OK intégré en BDD #}

{% block content %}
    <p>Bonjour {{ user.display }},</p>
    <p>
        La démarche a été initialisée pour
        {% if hasParcours %}
        le parcours <strong>{{ parcours.libelle }}</strong> de la formation <strong>{{ formation.displayLong }}</strong>
    {% else %}
        la formation <strong>{{ formation.displayLong }}</strong>
        {% endif %}.
    </p>
{% endblock %}
