{% extends 'mails/base_mail.html.twig' %}
{# Template: OK intégré en BDD #}

{% block content %}
    <p>Bonjour {{ user.display }},</p>

    <p>Le SES vient de publier
        {% if hasParcours == true %}
            le parcours <strong>{{ parcours.libelle }}</strong> de la formation
            <strong>{{ formation.displayLong }}</strong>
        {% else %}
            la formation <strong>{{ formation.displayLong }}</strong>
        {% endif %}
    </p>
{% endblock %}
