<table class="table">
    <tbody>

    <tr>
        <th>Libellé</th>
        <td>{{ type_epreuve.libelle }}</td>
    </tr>
    <tr>
        <th>Type de diplôme</th>
        <td>
            {% for typeDip in type_epreuve.typeDiplome %}
                {{ typeDip|typeDiplome }}
                {% if loop.last == false %}
                    ,
                {% endif %}
            {% endfor %}
        </td>
    </tr>
    </tbody>
</table>
