.resultSearchNode:hover {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
}

.badgeSearchAction:hover {
    cursor: pointer;
}

.loading-icon {
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    font-size: 4.25em;
}   

#searchResultNode {
    max-height: 20em;
    overflow-y: auto;
}

.badgeSelectedDiv {
    font-size: 1.25em;
}

.badge i.fa-xmark:hover {
    cursor: pointer;
} 

.divFieldChoice {
    min-height: 3.5em;
}

.textDivFieldChoice {
    padding: .75em;
    border-radius: 0.5em;
    border-color: black;
    border-style: solid;
    border-width: 1.5px;
    cursor: pointer;
    font-size: .95em;
}

#searchButton {
    cursor: pointer;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);;
    }
}

@media screen and (max-width: 768px){
    .textDivFieldChoice {
        padding: .45em;
    }
}