{% extends 'base.html.twig' %}

{% block header %}Documents{% endblock %}

{% block content %}
    <h2 class="small-title mt-3">Guide</h2>
    <div class="row">
        <div class="col-4">

            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/guide.pdf') }}">Télécharger le guide</a>
                    <p></p>
                </div>
            </div>
        </div>
    </div>

    <h2 class="small-title mt-3">Replay des présentations</h2>
    <div class="row">
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/OReOF-27032023.mp4') }}">Télécharger la vidéo</a>
                    <p>Vidéo de lancement d'ORéOF du 27/03/2023</p>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="card">
                <div class="card-body">
                    <a href="{{ asset('docs/video1870238167.mp4') }}">Télécharger la vidéo</a>
                    <p>Vidéo questions/réponses du 02/06/2023</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
