<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}PDF{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <style>
        body {
            font-family: "DejaVu Sans", serif;
            font-size: 12px;
        }

        /*@page {*/
        /*    margin: 0cm 0cm;*/
        /*}*/

        h1 {
            font-size: 1.5em;
            margin: 0;
        }

        h2 {
            font-size: 1.5em;
            margin: 0;
            border-bottom: 1px solid black;

        }

        h3 {
            padding-top:10px;
            font-size: 1.2em;
            margin: 0;
            border-bottom: 1px solid black;
        }

        /** Define now the real margins of every page in the PDF **/
        /*body {*/
        /*    margin-top: 1.5cm;*/
        /*    margin-left: 2cm;*/
        /*    margin-right: 2cm;*/
        /*    margin-bottom: 1.5cm;*/
        /*}*/

        .table {
            border-collapse: collapse;
            width: 100%;
        }

        .table, .table th, .table td {
            border: 1px solid black;
            padding: 2px;
        }

        /** Define the header rules **/
        /*header {*/
        /*    position: fixed;*/
        /*    top: 0;*/
        /*    left: 0;*/
        /*    right: 0;*/
        /*    height: 1.5cm;*/

        /*    !** Extra personal styles **!*/
        /*    background-color: #03a9f4;*/
        /*    color: white;*/
        /*    text-align: center;*/
        /*}*/

        /** Define the footer rules **/
        /*footer {*/
        /*    position: fixed;*/
        /*    bottom: 0;*/
        /*    left: 0;*/
        /*    right: 0;*/
        /*    height: 1.5cm;*/

        /*    !** Extra personal styles **!*/
        /*    background-color: #03a9f4;*/
        /*    color: white;*/
        /*    text-align: center;*/
        /*    font-size: 10px;*/
        /*}*/

        .page_break {
            page-break-before: always;
        }

        dt {
            font-weight: bold;
        }

        .text-center {
            text-align: center;
        }

        .mt-2 {
            margin-top: 20px;
        }

        #class_logo {
            float: left;
            width: 20%;
        }

        #class_logo img {
            height: 1.4cm;
        }

        #class_titre {
            float: right;
            width: 80%;
        }
    </style>
</head>

<body>
{#{% block header %}#}
{#    <header>#}
{#        <div id="class_logo">#}
{#        <img src="{{ baseUrl }}{{ asset('images/logo_urca.png') }}" alt="logo">#}
{#        </div>#}
{#        <div id="class_titre">#}
{#        <h1>{{ titre }}</h1>#}
{#        </div>#}
{#    </header>#}
{#{% endblock %}#}

{#<footer>#}
{#    {% block footer %}#}
{#        <p>Document généré le {{ 'now'|date('d/m/Y H:i') }} depuis#}
{#            ORéOF - {% if final is defined and final == true %}Document voté le ... {% else %}Document provisoire non validé en CFVU{% endif %}</p>#}
{#        <p>Université de Reims Champagne-Ardenne</p>#}
{#    {% endblock %}#}
{#</footer>#}

<main>
    {% block content %}

    {% endblock %}
</main>

</body>
</html>
