<!DOCTYPE html>
<html lang="fr">
<head>
    <title>{% block title %}PDF{% endblock %}</title>
    <meta charset="UTF-8">
    <style>
        body {
            font-family: "DejaVu Sans", serif;
        }

        @page {
            margin: 0cm 0cm;
        }

        /** Define now the real margins of every page in the PDF **/
        body {
            margin-top: 1.5cm;
            margin-left: 2cm;
            margin-right: 2cm;
            margin-bottom: 1.5cm;
        }

        /** Define the header rules **/
        header {
            position: fixed;
            top: 0cm;
            left: 0cm;
            right: 0cm;
            height: 1.5cm;

            /** Extra personal styles **/
            background-color: #03a9f4;
            color: white;
            text-align: center;
            line-height: 0.75cm;
        }

        /** Define the footer rules **/
        footer {
            position: fixed;
            bottom: 0cm;
            left: 0cm;
            right: 0cm;
            height: 1.5cm;

            /** Extra personal styles **/
            background-color: #03a9f4;
            color: white;
            text-align: center;
            line-height: 0.75cm;
        }
    </style>
</head>

<body>
<header>
    <h1>This is a Header</h1>
</header>

<footer>
    <p>Copyright &copy; <?php echo date("Y");?></p>
</footer>

<main>
    {% block content %}

    {% endblock %}
</main>

</body>
</html>
