{% extends 'pdf/base-pdf-wk.html.twig' %}

{% block content %}
    <div class="row">
        {{ include('typeDiplome/formation/common/_licence.html.twig', {print:true}) }}
        {# todo: ajouter les fiches en option ? #}
    </div>
{% endblock %}
