{% extends 'pdf/base-pdf.html.twig' %}

{% block content %}
    <div class="row">
        {{ include('typeDiplome/parcours/common/_licence.html.twig', {print:true}) }}
        {# todo: ajouter les fiches ? #}
    </div>
{% endblock %}
