{% if this.actualites|length > 0 %}
<div class="row mt-4">
    <div class="col-12">
        <div class="alert alert-info">
            {% for actualite in this.actualites %}
                <p class="mb-2">
                    <strong>{{ actualite.datePublication|date('d/m/Y H:i') }} | {{ actualite.titre }}</strong>. {{ actualite.texte|striptags|slice(0, 100) }}...
                </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endif %}
