<div class="alert alert-{{ this.type }} border-2 d-flex align-items-center mt-2" role="alert">
    <div class="bg-{{ this.type}} me-3 icon-item"><span class="fas {{ this.icone }} text-white fs-3"></span></div>
    <p class="mb-0 flex-1">{{ this.message|raw }}</p>
</div>
