<div {{ attributes }}>
    <span class="badge bg-{{ etatEcts }}">{{ ects }} {% if this.isEctsSpecifique == true %}<i
                class="fal fa-link" title="Repris de la fiche matière"></i>{% endif %}</span>
</div>
