<div {{ attributes }}>
    <button
            {{ stimulus_controller('modal', {
                size: 'large',
                modalTitle: 'Mettre un commentaire',
                right: true,
                modalUrl: path('app_commentaire_ajout', {
                    id: this.id,
                    type: this.type,
                    zone: this.zone,
                }),
            }) }}
            data-action="click->modal#openModal"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Mettre un commentaire"
            type="button"
            class="inline-flex items-center justify-center w-9 h-9 p-2 rounded-xl bg-white text-slate-700 border border-slate-100 shadow-sm hover:shadow-md transition z-10"
    >
        <i class="fal {% if this.hasComments %}fa-comment-lines{% else %}fa-comment{% endif %}"></i>
    </button>
</div>
