<ul class="list-unstyled list-inline text-center menu-icons">
    {% if is_granted('ROLE_SES') %}
    <li class="list-inline-item">
        <a href="#"
                {{ stimulus_controller('modal', {
                    size: 'large',
                    modalTitle: 'Contacter',
                    right: true,
                    modalUrl: path('app_ses_contact') }) }}
           data-action="click->modal#openModal"
           data-size="lg"
           data-bs-toggle="tooltip"
           data-bs-placement="bottom"
           title="Contacter"
        >
            <i class="fas fa-comment"></i>
        </a>
    </li>
    {% endif %}
    <li class="list-inline-item">
    <a href="#"
            {{ stimulus_controller('modal', {
                size: 'large',
                modalTitle: 'Paramètres & Accessibilité',
                right: true,
                modalUrl: path('app_settings') }) }}
            data-action="click->modal#openModal"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Paramètres & Accessibilité"
    >

                  <i class="fas fa-gears"></i>
    </a>
    </li>
    <li class="list-inline-item">
        <a href="{{ path('app_document') }}" target="_blank">
            <i class="fal fa-question-circle"></i>
        </a>
    </li>
    <li class="list-inline-item {% if computed.notifsNonLu > 0 %}new-notif{% endif %}" id="indicNotifBtn">
        <a
                href="#"
                class="notification-button"
                {{ stimulus_controller('modal', {
                    size: 'large',
                    modalTitle: 'Notifications',
                    right: true,
                    modalUrl: path('app_notification_liste_user') }) }}
                data-action="click->modal#openModal"
        >
            <div class="position-relative d-inline-flex">
                <i class="fal fa-bell icon"></i>
                {% if computed.notifsNonLu > 0 %}
                    <span class="position-absolute notification-dot rounded-xl" id="indicNotif"></span>
                {% endif %}
            </div>
        </a>
    </li>
</ul>
