{% set blockId = 'stats-block-' ~ random() %}
<div class="row gy-2">
    {#    <div class="card-header"> #}
    {#        {% if collapsible %} #}
    {#            <button type="button" onclick="document.getElementById('{{ blockId }}').classList.toggle('d-none')"> #}
    {#                Masquer / Afficher #}
    {#            </button> #}
    {#        {% endif %} #}
    {#    </div> #}
    {% for chart in charts %}
        <div class="col-sm-3">
            <div class="card card-body">
                <div id="{{ blockId }}" class="row">
                    <h3>{{ titles[loop.index0] }}</h3>
                    {{ render_chart(chart) }}
                </div>

            </div>
        </div>
    {% endfor %}
</div>
