{% extends 'base.html.twig' %}

{% block content %}
    <div
            {{ stimulus_controller('crud', {
                url: path('structure_composante_liste')
            }) }}
            {{ stimulus_target('crud', 'liste') }}>

    </div>
{% endblock %}

{% block header %}
    Gestion des composantes
{% endblock %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
    ]}) }}
{% endblock %}

{% block bouton_header %}

{% endblock %}
