{% extends 'base.html.twig' %}

{% block title %}Hello ParcoursMcccController!{% endblock %}

{% block content %}

    <a href="{{ path('app_parcours_mccc_export', {parcours:parcours.id, _format:'xlsx'}) }}">Export des MCCC en Excel</a>

    <a href="{{ path('app_parcours_mccc_export_light', {parcours:parcours.id, _format:'xlsx'}) }}">Export des MCCC en Excel (version light)</a>
{% endblock %}
