<span class="flex items-center gap-1">
    {{ sem.validationStatus|badgeValidationLong }}
</span>
<span class="text-xs font-medium text-slate-400 flex items-center">Dernière modif. : {{ sem.lastModification|time_ago }}</span>
