<h2>Localisation</h2>
<div {{ stimulus_controller('parcours--step6', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form(form) }}
</div>
