<h2>Admission</h2>
<div {{ stimulus_controller('parcours--step5', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form(form) }}
</div>
