<h2>Présentation du parcours</h2>
<div {{ stimulus_controller('parcours--step1', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form(form) }}

    <div class="alert {% if parcours.getEtatStep(1) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if parcours.getEtatStep(1) %}checked{% endif %}
                {{ stimulus_action('parcours--step1', 'calculEtatStep', 'change') }}

        >
        <label for="etatStructure">
            Cochez cette case si vous avez terminé ...
        </label>
    </div>
</div>
