<h2>Contacts Pédagogiques</h2>
<div {{ stimulus_controller('parcours--step8', {
    url: path('app_parcours_save', {parcours:parcours.id}),
}) }}>
    {% form_theme form 'communs/form_theme.html.twig' %}
    {{ form(form) }}

    <div class="alert {% if parcours.getEtatStep(8) %}alert-success{% else %}alert-warning{% endif %}" id="alertEtatStructure">
        <input type="checkbox"
               id="etatStructure"
               class="form-check-inline"
               {% if parcours.getEtatStep(8) %}checked{% endif %}
                {{ stimulus_action('parcours--step8', 'calculEtatStep', 'change') }}

        ><label for="etatStructure">
            Cochez cette case si vous avez terminé ...</label>
    </div>
</div>
