{% extends 'base.html.twig' %}

{% block content %}
    <div class="card"
            {{ stimulus_controller('crud', {
                url: path('app_annee_universitaire_liste'),
                storageKey: 'annee_universitaire_liste',
            }) }}
         data-action="base:refreshListe@window->crud#refreshListe"
    >
        <div class="card-body" {{ stimulus_target('crud', 'liste') }}>
        </div>
    </div>
{% endblock %}

{% set header_title %}
    Gestion des DPE
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter une année universitaire',
                modalUrl: path('app_annee_universitaire_new') }) }}
            data-action="click->modal#openModal"
            class="btn border border-emerald-300 bg-emerald-50 text-emerald-700 hover:bg-emerald-100 hover:text-emerald-800"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter une année universitaire"
    >
        <twig:UX:Icon name="icon:add" class="h-4 w-4"/>
        <span> Ajouter une année universitaire</span>
    </button>
{% endblock %}
