<table class="table">
    <tbody>
    <tr>
        <th>Libelle</th>
        <td>{{ annee_universitaire.libelle }}</td>
    </tr>
    <tr>
        <th>Année</th>
        <td>{{ annee_universitaire.annee }}</td>
    </tr>
    </tbody>
</table>
