<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ annee_universitaire.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ annee_universitaire.libelle }}</td>
    </tr>
    <tr>
        <th>Annee</th>
        <td>{{ annee_universitaire.annee }}</td>
    </tr>
    <tr>
        <th>Defaut</th>
        <td>{{ annee_universitaire.defaut ? 'Yes' : 'No' }}</td>
    </tr>
    </tbody>
</table>
