{% extends 'base.html.twig' %}

{% block content %}
    {{ component('DataTable', { config: table }) }}
{% endblock %}

{% set header_title %}
    Gestion des langues
{% endset %}

{% block breadcrumb %}
    {{ include('communs/_breadcrumb.html.twig', {liens:[
        {
            href:'',
            title: 'Administration',
        }
    ]}) }}
{% endblock %}

{% block bouton_header %}
    <button
            {{ stimulus_controller('modal', {
                size: 'lg',
                modalTitle: 'Ajouter une langue',
                modalUrl: path('app_langue_new') }) }}
            data-action="click->modal#openModal"
            class="btn border border-emerald-300 bg-emerald-50 text-emerald-700 hover:bg-emerald-100 hover:text-emerald-800"
            data-size="lg"
            data-bs-toggle="tooltip"
            data-bs-placement="bottom"
            title="Ajouter une langue"
    >
        <twig:UX:Icon name="icon:add" class="h-4 w-4"/>
        <span> Ajouter une langue</span>
    </button>
{% endblock %}
