<table class="table">
    <tbody>

    <tr>
        <th>Libellé</th>
        <td>{{ langue.libelle }}</td>
    </tr>
    <tr>
        <th>Code ISO</th>
        <td>{{ langue.codeIso }}</td>
    </tr>
    </tbody>
</table>
