<table class="table">
    <tbody>
    <tr>
        <th>Id</th>
        <td>{{ langue.id }}</td>
    </tr>
    <tr>
        <th>Libelle</th>
        <td>{{ langue.libelle }}</td>
    </tr>
    <tr>
        <th>Code ISO</th>
        <td>{{ langue.codeIse }}</td>
    </tr>
    </tbody>
</table>
