<div class="row">
    <div class="col-12">
        <dl>
            <dt>Prérequis recommandés</dt>
            <dd>{{ parcours.prerequis|raw }}</dd>
            {% if stringDifferencesParcours.prerequisRecommandesParcours is defined %}
                {{ include("communs/_comparaison_versioning_big.html.twig", {
                        textDifferences: stringDifferencesParcours.prerequisRecommandesParcours,
                        idCollapse: "diffParcoursPrerequisRecommandes" ~ parcours.id
                    }) 
                }}
            {% endif %}
        </dl>
    </div>
</div>
