<div class="row">
    <strong>Blocs de compétences</strong>
    <ul>
    {% for bloc in bccs %}
        <li><strong>{{ bloc.bcc.display }}</strong></li>
        <li>
            <ul>
                {% for comp in bloc.competences %}
                <li>{{ comp.display }}</li>
                {% endfor %}
            </ul>
        </li>
    {% endfor %}
    </ul>
</div>
