:root {
    --urca-black: #12142B;
    --urca-yellow: #F2C52C;
    --urca-teal: #20c997;
    --urca-cyan: #0dcaf0;
    --urca-gray: #6c757d;
    --urca-gray-300: #dee2e6;
    --urca-gray-400: #ced4da;
    --urca-gray-500: #adb5bd;
    --urca-gray-600: #6c757d;
}

.global-bg {
    background-color: var(--urca-black);
}

h2 {
    color: #ffffff;
}

td {
    padding: .75em;
    font-size: 1em;
    color: var(--urca-black);
}

.table-center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.bg-button-semestre {
    background-color: var(--urca-yellow) !important;
    color: var(--urca-black);
}

.bg-button-semestre::before {
    content: url('/maquette/arrow-right.svg');
    height: 1.5em; 
    width: 1.5em;
    display: flex;
    margin-right: 1.5em;
}

/* Remplacer la flèce par défaut du bouton */
/* .accordion-button:not(.collapsed)::after {
    background-image: initial;
    width: 0;
    content: url('/maquette/plus-square.svg');
    height: 1.5em; 
    width: 1.5em;
    display: flex;
    margin-right: 1.5em;
}

.accordion-button.collapsed::after {
    background-image: initial;
    width: 0;
    content: url('/maquette/plus-square.svg');
    height: 1.5em; 
    width: 1.5em;
    display: flex;
    margin-right: 1.5em;
} */

.total-semestre {
    background-color: rgb(255, 199, 179);
    color: black;
    padding: .5em;
}

.ects-badge {
    border-radius: 45%;
    border-width: 1em;
    background-color: rgb(55, 55, 199);
    color: white;
    padding: .4em;
    font-size: .9em;
}

td:not(#UELibelle, #ECLibelle, #ECEnfantLibelle, #TotalSemestre) {
    text-align: center;
    border-width: 0 .1em 0;
    border-color: var(--urca-black);
}

tr.table-dark td:not(#UELibelle, td:last-child) {
    border-width: 0 .1em 0;
    border-color: white;
}

tr.total-semestre > td:not(#TotalSemestre) {
    border-width: .1em 0 .1em !important;
    border-color: var(--urca-black);
}

tr.total-semestre:last-child {
    border-right-width: .1em;
    border-right-color: var(--urca-black);
}

tr > th {
    text-align: center;
    --bs-table-bg: var(--urca-gray-200);
}

#ECLibelle, #ECEnfantLibelle, #TotalSemestre {
    border-width: .1em;
    border-color: var(--urca-black);
}

.accordion-item {
    border-width: .1em;
    border-color: var(--urca-cyan);
    margin-bottom: .2em;
}

.table-dark {
    --bs-table-bg: var(--urca-teal) !important;
}

.table-dark > td {
    color: var(--urca-black);
}

tr th:not(:first-child) {
    border-width: .1em .1em .1em .1em;
    border-color: white;
    border-style: solid;
    background-color: var(--urca-gray-500);
    color: var(--urca-black);
}

tr th:first-child {
    border-width: 0;
}

tr.total-semestre {
    --bs-table-bg: var(--urca-yellow);
}

#ECLibelle {
    background-color: var(--urca-gray);
    color: white;
}

#ECEnfantLibelle {
    background-color: var(--urca-gray-400);
    color: var(--urca-black);
}

.arrow-down {
    height: 1.5em; 
    width: 1.5em;
    margin-left: 1.5em;
}

#tdEcRestreint {
    background-color: var(--urca-gray-400);
}