.global-bg {
    background-color: #12142B;
}

h2 {
    color: #ffffff;
}

th, td {
    padding: .75em;
    font-size: 1em;
}

.table-center {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.bg-button-semestre {
    background-color: #F2C52C !important;
}

.bg-button-semestre::before {
    content: url('/maquette/arrow-right.svg');
    height: 1.5em; 
    width: 1.5em;
    display: flex;
    margin-right: 1.5em;
}

/* Remplacer la flèce par défaut du bouton */
/* .accordion-button:not(.collapsed)::after {
    background-image: initial;
    width: 0;
    content: url('/maquette/plus-square.svg');
    height: 1.5em; 
    width: 1.5em;
    display: flex;
    margin-right: 1.5em;
}

.accordion-button.collapsed::after {
    background-image: initial;
    width: 0;
    content: url('/maquette/plus-square.svg');
    height: 1.5em; 
    width: 1.5em;
    display: flex;
    margin-right: 1.5em;
} */

.total-semestre {
    background-color: rgb(255, 199, 179);
    color: black;
    padding: .5em;
}

.ects-badge {
    border-radius: 45%;
    border-width: 1em;
    background-color: rgb(55, 55, 199);
    color: white;
    padding: .4em;
    font-size: .9em;
}

td:not(#UELibelle, #ECLibelle, #TotalSemestre) {
    text-align: center;
    border-width: 0 .1em 0;
    border-color: black;
}

tr.table-dark td:not(#UELibelle, td:last-child) {
    border-width: 0 .1em 0;
    border-color: white;
}

tr.total-semestre > td:not(#TotalSemestre) {
    border-width: .1em 0 .1em !important;
    border-color: black;
}

tr.total-semestre:last-child {
    border-right-width: .1em;
    border-right-color: black;
}

tr > th {
    text-align: center;
}

#ECLibelle, #TotalSemestre {
    border-width: .1em;
    border-color: black;
}

#ECLibelle {
    background-color: burlywood;
}
